@mixin iconsBox() {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;

    &:hover {
        background: var(--black);
        color: var(--white);
    }
}

@mixin titleText($titleSize) {
    font-size: $titleSize;
    color: var(--black);
    text-transform: capitalize;
}

@mixin graphText($graphSize) {
    font-size: $graphSize;
    color: var(--light-color);
    line-height: 2;
}


section{
    padding: 5rem 10%;
}

.home {
    padding: 0;

    .slide {
        min-height: 60rem;
        display: flex;
        align-items: center;
        position: relative;
        background-size: cover !important;
        background-position: center !important;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, var(--white), transparent);
        }

        .content {
            width: 50rem;
            position: relative;

            
        }

        h3 {
            @include titleText(6rem);
            text-transform: uppercase;
        }

        p {
            @include graphText(1.4rem);
            padding: 1rem 0;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: initial;
        bottom: 0px;
        left: initial;
        right: 0;
        height: 7rem;
        width: 7rem;
        line-height: 7rem;
        font-size: 3rem;
        background: var(--white);

        &:hover {
            background: var(--yellow);
        }
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 2rem;
        color: black;
    }

    .swiper-button-prev {
        right: 7rem;
    }
}



@media (max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}

@media (max-width:991px){
    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 768px){
    .home .slide {
        justify-content: center;

        .content {
            text-align: center;

            h3 {
                @include titleText(4rem);
            }
        }
    }
}