@* About Section Starts here *@
<section class="about" id="about">
    <h1 class="heading"> Omkring os</h1>

    <div class="row">
        <div class="video">
            <iframe src="https://www.youtube.com/embed/lgFR9VNYm-Q?si=_5cqymkXV3j8UeVo&amp;start=9&mute=1&autoplay=1" title="YouTube video player"
                    frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen></iframe>
        </div>

        <div class="content">
            <h3>Vi agter, at efterlade dig et færdigt resultat, som lever 100 % op til dine forventninger</h3>
            <p>
                Dependent certainty off discovery him his tolerably offending. Ham for attention remainder sometimes additions recommend fat our. Direction has strangers now believing. Respect enjoyed gay far exposed parlors towards. Enjoyment use tolerably dependent listening men. No peculiar in handsome together unlocked do by. Article concern joy anxious did picture sir her. Although desirous not recurred disposed off shy you numerous securing.

                Contented get distrusts certainty nay are frankness concealed ham. On unaffected resolution on considered of. No thought me husband or colonel forming effects. End sitting shewing who saw besides son musical adapted. Contrasted interested eat alteration pianoforte sympathize was. He families believed if no elegance interest surprise an. It abode wrong miles an so delay plate. She relation own put outlived may disposed.
            </p>
            <a href="#services" class="btn">Læs mere</a>
        </div>
    </div>
    <div class="box-container">
        <div class="box">
            <h3>20+</h3>
            <p> Erfaring</p>
        </div>
        <div class="box">
            <h3>100+</h3>
            <p> Projecter udført</p>
        </div>
        <div class="box">
            <h3>70+</h3>
            <p> Tilfredse Kunder</p>
            @* <p> sidenote: Her vil jeg gerne refere til en kunderef side</p> *@
        </div>

        <div class="box">
            <h3>10</h3>
            <p> Aktive medarbejdere</p>
        </div>

    </div>
</section>
@code {

}
