@* Clients LOGO *@
<section class="logo-container">
    <h3> Tidligere Kunder</h3>
    <div class="swiper logo-slider">

        <div class="swiper-wrapper">
            

            @for (int i = 0; i < 10; i++)
             {
                <div class="slide swiper-slide">
                    <img src="/Images/Clients/HouHavnlogo.png" alt=""/>
                </div>
             }
            
        </div>
    </div>
</section>
@code {
    

}
