@* Contact Information page *@
<section class="contact" id="contact">
   <h1 class="heading">Kontakt os</h1>
    <div class="row">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18659.444159137365!2d9.867089849365655!3d55.77031123037854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464c8998e1f0ddb1%3A0x3f94d66bc4e8b0fe!2sK.P.%20MARSH%20ApS!5e0!3m2!1sda!2sdk!4v1707655627110!5m2!1sda!2sdk"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <form action="">
            <h3>Send en mail</h3>
            <p> Eller ring til Torben Marsh på (+45) 40 27 13 87</p>
            <input type="text" placeholder="name" class="box">
            <input type="email" placeholder="email" class="box">
            <input type="number" placeholder="Telefon" class="box">
            <textarea type="text" placeholder="besked" id="" class="box" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn" />
        </form>
    </div>

</section>

@code {

}
