<section class="footer">
    <div class="links">
        <NavLink class="nav-menu btn" href="#about">
            <span aria-hidden="true"></span> Om Os
        </NavLink>
        <NavLink class="nav-menu btn" href="#services">
            <span aria-hidden="true"></span> Projecter
        </NavLink>
        @* <NavLink class="nav-menu" href="#contact">
        <span aria-hidden="true"></span> Referencer
        </NavLink> *@
        <NavLink class="nav-menu btn" href="#contact">
            <span aria-hidden="true"></span> Kontakt
        </NavLink>
    </div>

    <div class="credit"> Created By <span> RkChrisst </span> | All rights reserved!</div>
</section>
@code {

}
