section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  padding-left: 1rem;
  border-left: 1rem solid var(--yellow);
  font-size: 3rem;
  color: var(--black);
  text-transform: capitalize;
}

.services {
  background: var(--light-bg);
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
  align-content: flex-end;
}
.services .box-container .box {
  text-align: center;
  background: var(--white);
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 3rem;
}
.services .box-container:hover img {
  transform: translateY(-1rem);
}
.services .box-container img {
  height: 7rem;
  margin-bottom: 0.5rem;
  transition: 0.2s linear;
}
.services .box-container h3 {
  font-size: 2rem;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}
.services .box-container p {
  font-size: 1.5rem;
  color: var(--light-color);
  line-height: 2;
  padding-top: 0.5rem;
}
